* {
    font-family: Sans-serif;
    overflow-wrap: normal;
}
h1 {
    font-size: 64px;
    font-weight: 50;
}
.hidden {
    display: none;
}
.paragraph {
    position: relative;
    padding-top: 5px;
    padding-left: 2%;
    padding-right: 98%;
    padding-bottom: 5px;
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
}
img.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}